<?xml version="1.0" encoding="utf-8"?>
<DocumentElement>
  <ScheduledRoutes>
    <RouteName>BT Commuter</RouteName>
    <RouteShortName>BTC</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Carpenter Blvd.</RouteName>
    <RouteShortName>CBD</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Corporate Research Center</RouteName>
    <RouteShortName>CRC</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Harding Ave</RouteName>
    <RouteShortName>HDG</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Hethwood</RouteName>
    <RouteShortName>HWD</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Hethwood A</RouteName>
    <RouteShortName>HWDA</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Hethwood B</RouteName>
    <RouteShortName>HWDB</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Hokie Express</RouteName>
    <RouteShortName>HXP</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Main Street - North</RouteName>
    <RouteShortName>MSN</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Main Street - South</RouteName>
    <RouteShortName>MSS</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Patrick Henry</RouteName>
    <RouteShortName>PHD</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Progress Street</RouteName>
    <RouteShortName>PRG</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>The Explorer</RouteName>
    <RouteShortName>TE</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Toms Creek</RouteName>
    <RouteShortName>TC</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>Two Town Trolley</RouteName>
    <RouteShortName>TTT</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>University City Blvd</RouteName>
    <RouteShortName>UCB</RouteShortName>
  </ScheduledRoutes>
  <ScheduledRoutes>
    <RouteName>University Mall Shuttle</RouteName>
    <RouteShortName>UMS</RouteShortName>
  </ScheduledRoutes>
</DocumentElement>
